body,main{
	padding:0;
	margin:0;
}
body{
	background-color:#ECF0F1;}
header{
	background-color:#2C3E50;
	width:100%;
	padding-bottom:2%;
}
h1{
	margin:0;
	padding-top:10px;
	text-align:center;
	color:#ffffff;
}
header > p { 
	text-align:center;
	color:#ffffff;
}
section > p { 
	text-align:center;}
form { 
	margin-top:5%;
	margin-left:30%;
	position:absolute;
	width:40%;
}
form > p{
	margin-left:33%;
	
	}
input[type="text"]{
	width:100%;
	display:inline;
	}
input[type="Submit"]{
	padding:20px 40px 15px 40px;
	margin-left:38%;
	margin-top:10px;
	background-color:#16A085;
	color:#ffffff;
	border-style:none;
	}
